

body {
    overflow-y: scroll;
    background-color: black;

}
div.wrapper {
  margin: 0 auto;
  background-color: white;
  width: 40%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
ul.tabs {
	width: 100%;
	height: 80px;
	margin: 0 auto;
	list-style: none;
	overflow: hidden;
  display:inline-table; 
  position: relative;
  
}
ul.tabs li {	
	float: left;
	width: 40%;
  display: inline;
  margin: 0 auto;
}
ul.tabs li a {
	position: relative;
	display: block;
	height: 30px;
	margin-top: 20px;
  margin-bottom: 20px;
	padding: 10px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: center;	
	text-decoration: none;
	color: red;
	background: #fff;
	border: 1px solid red;


}
.tabs li:first-child a {
	
/*  -webkit-border-top-left-radius: 8px;
-moz-border-radius-topleft: 8px;*/
border-top-left-radius: 100px;
border-bottom-left-radius: 100px;
}
/*.tabs li:nth-child(2) a {
	z-index: 2;
}*/
.tabs li:last-child a {
border-top-right-radius: 100px;
border-bottom-right-radius: 100px;
}
ul.tabs li a:hover {
	/*margin: 35px 0 0 0;
	padding: 10px 0 5px 0;*/
}
ul.tabs li a.active {
	/*margin: 30px 0 0 0;
	padding: 10px 0 10px 0;*/
	background: red;
	color: #fff;
	/*color: #ff6831;*/
	/*z-index: 4;*/
	/*outline: none;*/
}
.group:before,
.group:after {
    content: " "; 
    display: table; 
}
.group:after {
    clear: both;
}
#content {
  height: 100%;
  background: #fff;


  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
p{
 
  color: #a5acb7;
  /*line-height: 26px;*/
  /*font-size: 13px;*/
  margin: 0;
  /*text-align: center;*/
}
hr{
	margin: 30px 20px;
	border-top:2px solid #1C1E26 ;
	border-bottom:2px solid #38404D;
}




.toggle {
  text-decoration: none;
  color: #333;
  font-size: 13px;
  padding: 10px 30px;
  line-height: 20px;
  display: block;
  /*border: 1px solid #d0d0d0;*/
  width: 446px;
  border-bottom: 1px solid #d0d0d0;
}
.drop {
  display: none;
  width: 446px;
  background: #000;
  padding: 12px 30px 12px 30px;  
}
a.toggle:hover { 
    background-color: #e3e5e3;
    border-left-color: red;
    border-left-style: solid;
    border-left-width: 10px;
    padding-left: 20px;
}
img {
  display:block;
    margin:auto;
    width: 100%;
    border: 4px solid white;
}
